
    <div class="top">
        <img src="/images/logo.png" alt="" class="logo">
        <h1 class="mt-5">Create your stories...</h1>
        <p class="mt-5">Welcome <%=logname%>!!!</p>
</div>
<nav class="navBar">
    <a href="/addpage">Add Page</a>
    <a href="/editpage">Edit Pages</a>
    <a href="/logout">Logout</a>
</nav>