<%- include('partials/header')%>
<%- include('partials/nav')%>
<div class="container mb-3">
    <h1>Home</h1>
<div class="row">
    <div class="text-center page-content text-center col-6 m-auto">
        <img src="/images/home.jpg" alt="" style="width: 100%; max-width: 600px" class="m-auto">
    </div>
    <div class="col-6">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Illo ullam nisi ipsum sapiente consectetur qui reprehenderit.</p>

    <p><strong>Lorem ipsum dolor sit </strong> <a href="">Atque in explicabo accusamus corporis totam</a>placeat,
     aliquid, ut dolore quidem itaque ducimus accusantium vel 
     dignissimos possimus ratione quasi, iste laudantium alias.</p>
    </div>
</div>
<%- include('partials/footer')%>


